[core]
	autocrlf = false
	editor = vim
[alias]
	p = push
	st = status -sb
	ci = commit
	b = branch
	co = checkout
	amend = commit --amend
	aa = add --all
	ac = add -u
        ca = !git add -A && git commit -av
	df = diff
	dfc = diff --cached
	lg = log -p
        l = log --pretty=oneline -n 20 --graph --abbrev-commit --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d'
	last = log --oneline -n1
	update = pull origin master --rebase
	comp = log @{upstream}.. --oneline --stat
	wat = log @{upstream}.. --oneline
	head = !git r -1
	h = !git head
	hp = "!. ~/.githelpers && show_git_head"
	r = !GIT_NO_PAGER=1 git l -30
	ra = !git r --all
	la = !git l --all
	alias = config --global alias.
	stat = log --stat
	nuke = reset --hard HEAD
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contrib = shortlog --summary --numbered
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
	dad = !curl https://icanhazdadjoke.com/ && git add
	pick = cherry-pick
	br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' 
	ski = stash --keep-index
[diff]
[color]
    ui = auto
[credential]
	helper = store
[push]
	default = simple
[user]
	name = Nathan Woodrow
	email = woodrow.nathan@gmail.com
